LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_http_module modules/mod_proxy_http.so
Listen {{ nodesslport }}

<IfModule mod_ssl.c>
  <VirtualHost *:{{ nodesslport }}>
          ProxyPreserveHost On
          ProxyRequests Off
          ProxyPass / http://localhost:{{ nodeport }}/
          ProxyPassReverse / http://localhost:{{ nodeport }}/    

          SSLCertificateFile /etc/letsencrypt/live/{{ hostname }}/cert.pem
          SSLCertificateKeyFile /etc/letsencrypt/live/{{ hostname }}/privkey.pem
          Include /etc/letsencrypt/options-ssl-apache.conf
          SSLCertificateChainFile /etc/letsencrypt/live/{{ hostname }}/chain.pem    
  </VirtualHost>
</IfModule>

